.orderHistoryWrapper{
    background-color: white;
    min-height: calc(100vh - 185px);
}

.orderHistory{
    max-width: 1200px;
    min-width: 996px;
    margin: auto;
}

.orderHistoryHeader{
    border-bottom: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.orderHistoryEmpty{
    padding: 20px;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
}

.orderHistoryEmpty >span{
    font-weight: 700;
}

.orderHistoryEmpty > a{
    font-size: 20px;
    font-weight: 600;
    color: #007185;
    text-decoration: none;
    background-color: transparent;
}