.searchResultWrapper{
    background-color: white;
    min-height: calc(100vh - 185px);
}

.searchResult{
    margin: auto;
    width: 90%;
    min-width: 996px;
}

.searchResult >div:first-of-type{
    padding: 20px 30px;
    font-size: 23px;
    font-weight: 700;
}

.searchResult > div:first-of-type >span{
    color: #c45500;
}

.searchResultEmpty{
    width: fit-content;
    margin:auto;
    padding: 100px 0 0 0 !important;
}

.searchResultTryAgain{
    width: fit-content;
    margin:auto;
}

.searchResultFlex{
    display: flex;
    flex-wrap: wrap;
    /* width:1428px; */
    /* justify-content: center; */
}